
  <h2>Add locations to your Map!</h2>
  <p>Click on the map to drop your marker at a filming location.</p>
  <form>
    <div class="form">
      <table>
        <tr>
          <td class="label">
            <label for="location-name">Location:</label>
          </td>
          <td>
            <input class="field" id="location-name" type="text" style="width: 200px; margin: .5em" />
          </td>
        </tr>
        <tr>
          <td class="label">
            <label for="location-info">Description:</label>
          </td>
          <td>
            <input class="field" id="location-info" type="text" style="width: 200px; margin: .5em" />
          </td>
        </tr>
        <tr>
          <td class="label">
            <label for="img-link">Image URL:</label>
          </td>
          <td>
            <input class="field" id="img-link" type="text" style="width: 200px; margin: .5em" />
          </td>
        </tr>

        <tr>
          <td></td>
          <td><button type="submit">Submit</button></td>
        </tr>


      </table>
    </div>
  </form>

  <br>

  <div id="marker-view-panel">
    <input id="toggle-markers" type="button" value="Toggle Markers" />
  </div>

