<div class="side-content">
  <h2>Login Existing User</h2>

  <form>
    <div class="form">
      <table>
        <tr>
          <td class="label">
            <label for="email">Email:</label>
          </td>
          <td>
            <input class="field" id="login-email" type="text" style="width: 200px; margin: .5em" />
          </td>
        </tr>
        <tr>
          <td class="label">
            <label for="password">Password:</label>
          </td>
          <td>
            <input class="field" id="login-password" type="password" style="width: 200px; margin: .5em" />
          </td>
        </tr>


        <tr>
          <td></td>
          <td><button type="submit">Submit</button></td>
        </tr>


      </table>
    </div>
  </form>

  <h2>Register New User</h2>

  <form>
    <div class="form">
      <table>
        <tr>
          <td class="label">
            <label for="email">Email:</label>
          </td>
          <td>
            <input class="field" id="login-email" type="text" style="width: 200px; margin: .5em" />
          </td>
        </tr>
        <tr>
          <td class="label">
            <label for="password">Password:</label>
          </td>
          <td>
            <input class="field" id="login-password" type="password" style="width: 200px; margin: .5em" />
          </td>
        </tr>


        <tr>
          <td></td>
          <td><button type="submit">Submit</button></td>
        </tr>


      </table>
    </div>
  </form>
</div>
