<div class="side-content">
  <h2>Create a new map!</h2>
  <p>Zoom in/out and drag the map to create the boundaries for your markers!</p>
  <form>
    <div class="form">
      <table>
        <tr>
          <td class="lable">
            <label for="map-title">Title:</label>
          </td>
          <td>
            <input class="field" id="map-title" type="text" style="width: 200px; margin: 1em" />
          </td>
        </tr>
        <tr>
          <td><button type="submit">Submit</button></td>
        </tr>

      </table>
    </div>
  </form>
</div>
