<!DOCTYPE html>

<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Midterm Project</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="../styles/styles.css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script src="/build/main.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAEQNotfXF5yKQ9yskhfsR4t1tMkS1sjSM&callback=initMap"></script>

</head>

<body>
  <div class="nav">
    <span>
      <a href="/">Movie Mapper</a>
      <a href="/myMaps">My Maps</a>
      <a href="/edit">Edit</a>
      <a href="/login">Login</a>
      <a href="/createMap">Create Map</a>
      <a href="/viewMap">View</a>
      <a href="/faveMaps">Faves</a>
    </span>
  </div>

  <section class="main" data-path="<%= path %>">
    <div class="side-content"></div>
    <div id="map"></div>
  </section>

  <%- include('footer') %>

</body>

</html>
