
  <h2>Create a new map!</h2>
  <p>Find an area to capture in the map on the right</p>
  <p>Zoom in/out and drag the map to create the boundaries for your markers!</p>
  <form id ="map-form">
    <div class="form">
      <table>
        <tr>
          <td class="label"><label for="map-title">Map Title:</label></td>
          <td><input class="field" id="map-title" type="text" name="title"></td>
        </tr>
        <tr>
          <td class="label"><label for="map-thumbnail">Map Thumbnail Link:</label></td>
          <td><input class="field" id="map-thumbnail" type="text" name="thumb"></td>
        </tr>
        <div class="error">
          <span><i class="fa-solid fa-triangle-exclamation"></i></span>
          <span class="error-message"></span>
          <span><i class="fa-solid fa-triangle-exclamation"></i></span>
        </div>
        <tr><td class="label"><button type="submit">Save New Map!</button></td></tr>
      </table>
    </div>
</form>

